<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.sc.mapper.ArticleMapper">

    <!--根据用户名获取用户所有文章-->
    <select id="queryUserArticleByUserName"  resultType="per.sc.pojo.ArticleVO">
        SELECT
            id,
            title,
            data,
            create_time as createTime
        FROM
            article_info
        WHERE
            user_name = #{userId}
        ORDER BY
	        create_time DESC
    </select>

    <select id="queryArticleById" resultType="per.sc.pojo.ArticleVO">
        SELECT
            id,title,data
        FROM
            article_info
        WHERE
            art_sub_menu = (
                SELECT
                    art_sub_menu
                FROM
                    article_info
                WHERE
                    id = #{id}
            )
        ORDER BY
            create_time DESC
        LIMIT 0,
         4
    </select>


    <select id="queryNext" resultType="per.sc.pojo.ArticleVO">
        SELECT
            id,
            title
        FROM
          article_info
        WHERE
        id IN (
        (
        SELECT
          max(id)
        FROM
          article_info
        WHERE
        id &lt; #{id}
        ),
        (
        SELECT
          min(id)
        FROM
          article_info
        WHERE
        id > #{id}
        )
        )
    </select>

</mapper>