<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.sc.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="per.sc.pojo.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_text" jdbcType="VARCHAR" property="menuText" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_parent_id" jdbcType="VARCHAR" property="menuParentId" />
    <result column="menu_level" jdbcType="VARCHAR" property="menuLevel" />
    <result column="menu_create_time" jdbcType="TIMESTAMP" property="menuCreateTime" />
  </resultMap>

</mapper>