<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.sc.mapper.UploadMapper">
    <!--用户表-->
    <resultMap id="upload" type="per.sc.pojo.TimeLineVO">
        <id property="id" column="id" jdbcType="INTEGER" />
        <result property="userId" column="user_id" jdbcType="INTEGER" />
        <result property="title" column="title" jdbcType="VARCHAR" />
        <result property="content" column="content" jdbcType="VARCHAR" />
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR" />
        <result property="color" column="color" jdbcType="VARCHAR" />
        <result property="picture" column="picture" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="articleMap" type="per.sc.pojo.ArticleVO">
        <id property="id" column="id" jdbcType="INTEGER" />
        <result property="userName" column="user_name" jdbcType="VARCHAR" />
        <result property="thematicUrl" column="thematic_url" jdbcType="VARCHAR" />
        <result property="title" column="title" jdbcType="VARCHAR" />
        <result property="data" column="data" jdbcType="VARCHAR" />
        <result property="firstMenu" column="art_first_menu" jdbcType="VARCHAR" />
        <result property="subMenu" column="art_sub_menu" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="queryArticle" resultMap="articleMap">
        SELECT
            ai.id,
            ai.thematic_url,
            ai.title,
            ai.DATA,
            ai.art_first_menu,
            ai.art_sub_menu,
            ai.create_time,
            ai.update_time,
            ui.user_name
        FROM
            article_info ai
        LEFT JOIN user_info ui ON ai.user_name = ui.id
           where ai.id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="pusArticle" parameterType="per.sc.pojo.ArticleVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into article_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null"> user_name, </if>
            <if test="thematicUrl != null"> thematic_url, </if>
            <if test="title != null"> title, </if>
            <if test="data != null"> data, </if>
            <if test="firstMenu != null"> art_first_menu, </if>
            <if test="subMenu != null"> art_sub_menu, </if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">  #{userName,jdbcType=VARCHAR}, </if>
            <if test="thematicUrl != null">  #{thematicUrl,jdbcType=VARCHAR}, </if>
            <if test="title != null">  #{title,jdbcType=VARCHAR}, </if>
            <if test="data != null">  #{data,jdbcType=VARCHAR}, </if>
            <if test="firstMenu != null"> #{firstMenu,jdbcType=VARCHAR}, </if>
            <if test="subMenu != null"> #{subMenu,jdbcType=VARCHAR}, </if>
            now(),
            now(),
        </trim>
    </insert>


    <insert id="addTimeLine"  parameterType="per.sc.pojo.TimeLineVO">
        insert into time_line_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null"> user_id, </if>
            <if test="title != null"> title, </if>
            <if test="content != null"> content, </if>
            <if test="imageUrl != null"> image_url, </if>
            <if test="color != null"> color, </if>
            <if test="picture != null"> picture, </if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null"> #{userId,jdbcType=INTEGER}, </if>
            <if test="title != null">  #{title,jdbcType=VARCHAR}, </if>
            <if test="content != null">   #{content,jdbcType=VARCHAR}, </if>
            <if test="imageUrl != null">  #{imageUrl,jdbcType=VARCHAR}, </if>
            <if test="color != null">  #{color,jdbcType=VARCHAR}, </if>
            <if test="picture != null">  #{picture,jdbcType=VARCHAR}, </if>
            now(),
            now(),
        </trim>
    </insert>

    <select id="queryAllTimeLineInfo" resultMap="upload">
        select * from time_line_info
    </select>

    <select id="queryTimeLineInfoById" resultMap="upload">
        select * from time_line_info where id = #{id,jdbcType=INTEGER}
    </select>

</mapper>