<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>恭喜你发现了个菜单</title>

	<link rel="stylesheet" type="text/css" href="/css/uindex.css">
	<link href="/css/timeline.css" rel="stylesheet" type="text/css" />
	<link href="/css/picture.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="/js/modernizr.js"></script>
	<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>

	<link rel="stylesheet" href="/css/btn/reset.css">
	<link rel="stylesheet" href="/css/btn/index.css">
</head>
<body>
<!--<header>-->
<!--<h1>翩若惊鸿，婉若游龙</h1>-->
<!--</header>-->

<header class="htmleaf-header">
	<h1>翩若惊鸿，婉若游龙 </h1>
	<br/><br/>
	<div class="htmleaf-links">
		<a class="htmleaf-icon" style="background-image:url('/images/icon/send.png');" href="http://10.233.1.240:8088/upload/showSend" title="发布我的故事" target="_parent"><span> </span></a>
		<a class="htmleaf-icon" style="background-image:url('/images/icon/all.png');" href="http://10.233.1.240:8088/timelineIndex/showIndex" title="去看看别人的故事" target="_parent"><span> 去看看别人的故事</span></a>
	</div>

	<!-- 第五个按钮 -->
	<div class="wrap5" a="off">
		<span>ON</span>
		<span>OFF</span>
		<div></div>
	</div>


</header>

<section id="cd-timeline" class="cd-container" >
</section>
<div class="playMore">
	<a  id="pageNum"  class="more-btn">点击加载更多</a>
</div>
<a href="#" id="top"><img src="/images/top.png" width="60px" height="60px"><br>回到过去</a>
<script>

    $(".wrap5").mousedown(function(event) {
        if ($(".wrap5").attr("a") == "off") {
            $(".wrap5 div").stop().animate({
                "left" : "98px"
            },400),
                $(".wrap5").attr("a","on")
        }else {
            $(".wrap5 div").stop().animate({
                "left" : "2px"
            },400),
                $(".wrap5").attr("a","off")
        }
    });
    //时间线方法
    function gettimelines(index) {
        var self = $(this);
        var param = '';//加载html变量
        self.addClass("loading").html("正在加载中");
        $.ajax({
            url:"/upload/queryAllTimeLineInfo",    //请求的url地址
            dataType:"json",   //返回格式为json
            data:{pn:index},    //参数值
            type:"POST",   //请求方式
            success:function(req){
                //请求成功时处理
                console.log(req.data)
                var str="";
                $.each(req.data.list,function(i,n){
                    str+="<div class='cd-timeline-block'>";
                    str+='<div class="'+n.color+'">';
                    str+='<img src='+n.picture+' alt="Movie">';
                    str+="</div>";
                    str+='<div class="cd-timeline-content">';
                    str+='<h2>'+n.title+'</h2>';
                    str+='<p>'+n.content+'</p>';
                    if(n.imageUrl != null){
                        var ip =n.imageUrl;
                        str+='<div class="img" style="background-image: url('+ip+')"></div>';
                    }
                    str+="<br>"
                    var url = "http://10.233.1.240:8088/"
                    var id = n.id;
                    str+='<a href="'+url+'detail/showDetail?id='+id+'" class="cd-read-more">阅读更多</a>';
                    str+='<span class="cd-date">'+n.createTime+'</span>';
                    str+='</div>';
                    str+='</div>';
                });
                if (req.data.pageNum == req.data.pages){
                    $("#pageNum").removeAttr("onclick");
                    $("#pageNum").text("---您的故事到这里好像停止了呢！---");
                } else {
                    $("#pageNum").attr("onclick","gettimelines("+req.data.pageNum+"+1)");
                }
                $("#cd-timeline").append(str);
                var $timeline_block = $('.cd-timeline-block');
                //hide timeline blocks which are outside the viewport
                $timeline_block.each(function(){
                    if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                    }
                });
                //on scolling, show/animate timeline blocks when enter the viewport
                $(window).on('scroll', function(){
                    $timeline_block.each(function(){
                        if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
                            $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                        }
                    });
                });
            },
            error:function(){
                //请求出错处理
                self.addClass("loading").html("正在加载中");
                // alert("似乎有点难隐之言了呢 ~ ~")
            }
        });
    }
    //回到顶部
    $('#top').click(function(){$('html,body').animate({scrollTop: '0px'}, 800);});

    $(function(){
        //init最新
        gettimelines(1);
    });
</script>

</body>
</html>
