<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发布消息</title>

<link rel="stylesheet" type="text/css" href="/css/upload.css">
<link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/plupload/plupload.full.min.js"></script>
		<style>
		#main {
			width: 980px;
			margin: 0 auto;
		}
 
		#form_box {
			padding: 20px;
			margin-bottom: 20px;
			border: 1px solid #cdcdcd;
		}
 
		#comment {
			width: 100%;
		}
 
		#comment_box {
			display: none;
			padding: 20px;
			border: 1px solid #cdcdcd;
		}
 
		#send  {
			float: right;
			width:50px;
			height: 30px;
			background-color:orange;
			border: none;
			border-radius:9%;
		}
		</style>

	</head>
 </html>
<body>
		<div id="main">
		<div id="form_box">
			<h2>有什么新鲜事想告诉大家？</h2>
			<textarea id="comment" cols="30" rows="10">#在这里输入你想要说的标题#
            </textarea>
			<p>还可以输入<span id="count">320</span>个字
				<button id="send">发布</button></p>
		</div>
		<div id="container">
        <button type="button" id="uploadBtn"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp图片&nbsp;</button>
        <ul id="pic-list">
            <span id="triangle"></span>
            <div id="title">
                <span>本地上传</span><b onclick="delall()">X</b>
                <div id="hint">共0张，还能上传9张</div>
            </div>
            <li id="addBtn">+</li>
        </ul>
    </div>
    <script type="text/javascript" src="/js/upload.js"></script>

		<!--<div id="comment_box" >-->

		<!--</div>-->
	</div>
</body>

	<script>
		//监听文本框的输入事件
		$(function(){
			$('#comment').on('input propertychange',function(){
				//改变span长度
				$('#count').text(340 - $('#comment').val().length);
				//判断输入长度是否大于340，若大于，则截取340个字
				if ($('#comment').val().length>340) {
					$('#comment').val($('#comment').val().substr(0,340));
					alert('您已超过340个字');
				};
			});
		});

		//为按钮绑定点击事件
		$('#send').click(function(){
            var iUrls = new Array();
            var list=$("#pic-list li img");
            for (var i = 0; i < list.length ; i++) {
                iUrls.push(list[i].src);
            }
            var comm = ($('#comment').val());
            var data = {}
            data.content = comm;
            if (iUrls.length > 0){
                var b = iUrls.join('@');
                data.imageUrl= b;
			} else {
                data.imageUrl = list.src;
			}




            console.log(data)
            $.ajax({
                url:"/upload/addTimeLine",    //请求的url地址
                dataType:"json",   //返回格式为json
                data:data,    //参数值
                type:"POST",   //请求方式
                success:function(req){
                    //请求成功时处理
                    //将输入框清空，将可用字数返回340
					alert("发布成功 ~ ~ ~")
                    delall();//清除图片
                    $('#comment').val('#在这里输入你想要说的标题#');
                    $('#count').text('320');

                },
                error:function(){
                    //请求出错处理
                    alert("似乎有点难隐之言了呢 ~ ~")
                    delall();//清除图片
                }
            });





 
		});
	</script>
</html>