<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Timeline导航栏</title>

<link rel="stylesheet" href="/css/top/style.css">

</head>
<body>

<div class="c-nav">
	<div class="container navFlex">
		<div class="flexItem">
			<img  class="logo" src="/images/top/wunsun-logo.png" />
		</div>
		
		<div class="flexItem hiden">
			<img class="btnImg" src="/images/top/navBtn.png" />
		</div>
		<div class="flexItem show">
			<ul id="top">
				<li><a href="http://10.233.1.240:8088/timelineIndex/showIndex">首页</a></li>
				<li><a href="http://10.233.1.240:8088/upload/showTimeLine">我的</a></li>
				<li><a href="http://10.233.1.240:8088/upload/showSend">发布</a></li>
				<li><a href="#">网上商城</a></li>
				<li><a href="#">招商加盟</a></li>
				<li id="content"><a href="#">建议反馈</a></li>
				<li id="mine" ><a href="#" >个人中心</a></li>
				<li><a href="#" onclick="login()" class="status" id="login">登录</a></li>
				<li><a href="#" onclick="logout()" class="status" id="logout">退出</a></li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function(){
        // 读取 cookie
        var value = getCookie('time_line');
        console.log("=========="+value)
        if (value == null || value == "" || value == "undefined" || value == undefined || value == "null"){
            $("#logout").show();
            $("#mine").hide();
            $("#logout").hide();
		}else{
            $("#mine").show();
            $("#logout").show();
            $("#login").hide();
		}
	});

        function login() {
			window.location.href="http://10.233.1.240:8088/user/showLogin";
    	}

    	function logout() {
            delCookie("time_line");
			window.location.href="http://10.233.1.240:8088/user/showLogin";
        }

    function delCookie(name)
    {
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        var cval=getCookie(name);
        if(cval!=null)
            document.cookie= name + "="+cval+";expires="+exp.toGMTString();
    }

    function getCookie(name){
        var strcookie = document.cookie;//获取cookie字符串
        var arrcookie = strcookie.split("; ");//分割
        for ( var i = 0; i < arrcookie.length; i++) {
            var arr = arrcookie[i].split("=");
            if (arr[0] == name){
                return arr[1];
            }
        }
        return "";
    }

//用于判断导航栏的状态
var toggle = true;

//导航栏按钮
$('.btnImg').click(function() {
	if (toggle) {
		$('.btnImg').css("border", "1px solid #b0ccf3");
		toggle = false
	} else {
		$('.btnImg').css("border", "1px solid transparent");
		toggle = true;
	}
	$(".show").slideToggle(300);
})

//窗口大小发生改变
$(window).resize(function() {
	//获取窗口宽度
	var windSize = $(window).width();

	if (windSize > 576) {
		$(".show").slideDown(0);
	} else {
		$(".show").slideUp(0);
	}
});
</script>

</body>
</html>