<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>阅读更多</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/css/htmleaf-demo.css">
	<link rel="stylesheet" type="text/css" href="/css/uindex.css">
	<link rel="stylesheet" href="/css/detail.css">
	<link rel="stylesheet" href="/js/dist/MODALit.min.css">
	<!--[if lte IE 9]>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js">flexibility(document.documentElement);</script>
	<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
	<![endif]-->

	<script src="/js/detail.js"></script>
	<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
	<script src="/js/dist/MODALit.min.js"></script>
</head>
<body>
<div class="htmleaf-container">
	<div id="page"></div>
	<header class="htmleaf-header" >
		<h1>荣曜秋菊，华茂春松 <span>Write the code. Change the world.</span></h1>
		<div class="htmleaf-links" >
			<a class="htmleaf-icon" style="background-image:url('/images/icon/all.png');"
			   href="http://10.233.1.240:8088/timelineIndex/showIndex" title="去看看别人的时间线"
			   target="_parent"><span> 去看看别人的故事</span></a>
			<a class="htmleaf-icon" style="background-image:url('/images/icon/mine.png');"
			   href="http://10.233.1.240:8088/upload/showTimeLine"
			   title="我的时间线" target="_parent"><span> </span></a>
		</div>
	</header>
	<section id="demo">
		<div class="container features align center">
			<div class="demo" id="detailDiv">
				<h3 style='text-align: center;' id="h3title"></h3>
				<p style='text-align: center;' id="createTime"></p>
				<p id="p-content"><br><br>
					&nbsp;&nbsp;
				</p>
				<ul id="ulImage" style="text-align:center;">
					<li ><img style="width: 560px;height: 720px;" data-src="http://10.233.1.240:8088/image/a6c9b514-dcf5-4af2-945f-2a816ef0b183.jpg"
								  src="http://10.233.1.240:8088/image/a6c9b514-dcf5-4af2-945f-2a816ef0b183.jpg"
								  data-caption="这是一个bug，或者是个彩蛋，看你怎么理解，程序员说他是处理不掉（很大声~）~" class="demo-gallery">
				    </li>
				</ul>
			</div>
		</div>
	</section>

	<script>
        $("#page").load("/detail/showTop");
        $(function() {
            //init最新
            var ID = getUrlParam('id');
            $.ajax({
                url: "/upload/queryTimeLineInfoById",    //请求的url地址
                dataType: "json",   //返回格式为json
                data: {id: ID},    //参数值
                type: "POST",   //请求方式
                success: function (req) {
                    //请求成功时处理
                    var title = req.data.title;
					$('#h3title').html(title)
                    var createTime = req.data.createTime;
                    $('#createTime').html(createTime)
					var content = req.data.content;
                    $('#p-content').html(content);
                    var html ="";
                    var data = req.data.imageUrl;
                    var caption = req.data.title +req.data.createTime;
                    var dg = "demo-gallery";
                    var arr = data.split('@');
                    for(var i in arr){
                        html+='<li><img style="height: 400px; width:520px; margin-left: 10px" data-src='+arr[i]+' ' +
                            'src='+arr[i]+' ' +
                            'data-caption='+caption+' ' +
                            'class='+dg+'>  </li>';
                    }
					if (req.data.imageUrl != null){
                        $("#ulImage").html(html);
					}else{
                        $("#ulImage").hide();
					}
                },
                error: function () {
                    //请求出错处理
                    self.addClass("loading").html("正在加载中");
                    // alert("似乎有点难隐之言了呢 ~ ~")
                }
            });
        });

        function getUrlParam(name){
            //构造一个含有目标参数的正则表达式对象
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            //匹配目标参数
            var r = window.location.search.substr(1).match(reg);
            //返回参数值
            if (r!=null) return unescape(r[2]);
            return null;
        }
	</script>

</body>
</html>